{% extends 'base_homepagewarden.html' %}
{% load static %}

{% block title %}
viewrooms
{% endblock %}

{% block csslink %}
<link rel="stylesheet" href="{% static 'css/details.css' %}">

{% endblock %}

{% block home_content %}

    <h3>Select Date</h3>

    <form action="" method="post">
        {% csrf_token %}

        <!-- Date Input -->
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">Starting Date</span>
            <input type="date" id="datewidth" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm" name="startdate" {% if startdate %} value="{{startdate}}" {% endif %} required>
        </div>



        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">Ending Date</span>
            <input type="date" id="datewidth" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm" name="enddate" {% if startdate %} value="{{enddate}}" {% endif %} required>
        </div>



        <div class="form-button-set">
            <input type="submit" class="c-button c-button--navy" value="SUBMIT"></button>
            <input type="reset" class="c-button c-button--navy" value="CLEAR"></button>
        </div><br>
    </form>

    {% if studentsbilldetails %}
    <div class="billsectionheader">
        <h3>Available Students</h3>
        
        <form action="{% url 'generateallbills' %}" method="post" style="display: inline; padding: 0; ">
            {% csrf_token %}
            <input type="hidden" name="startdate" value="{{ startdate }}">
            <input type="hidden" name="enddate" value="{{ enddate }}">
            <button type="submit" class="generate-bills btn ">Generate all Bills</button>
        </form>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Student Name</th>
                <th scope="col">Mess Amount</th>
                <!-- <th scope="col">Billing Date</th> -->
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for student,amount in studentsbilldetails.items %}
            <tr>
                <td>{{ student.name }}</td>
                <td>{{ amount }}</td>
                <th>
                    <a href="">Generate Bill</a>
                </th>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    {% else %}
    Students has not selected any meals 
    {% endif %}

{% endblock %}