{% extends 'base_homepagewarden.html' %}
{% load static %}

{% block title %}
viewrooms
{% endblock %}

{% block csslink %}
<link rel="stylesheet" href="{% static 'css/details.css' %}">

{% endblock %}

{% block home_content %}

<h3>Edit plan</h3>
<h5>{{mealobj.date|date:'d-m-Y'}}</h5>
<form action="" method="post">
  {% csrf_token %}

  <!-- Date Input -->
  <div class="input-group input-group-sm mb-3">
      <span class="input-group-text" id="inputGroup-sizing-sm">Date</span>
      <input type="date" id="datewidth" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="newdate" value="{{mealobj.date|date:'Y-m-d'}}" disabled>
  </div>

  <!-- Breakfast Checkboxes -->
  <div class="input-group input-group-sm mb-3 d-flex align-items-center">
    <span class="input-group-text" id="inputGroup-sizing-sm">Breakfast</span>
    {% if breakfastobjs %}
        <div class="d-flex flex-wrap ms-3" required>
            {% for breakfast in breakfastobjs %}
              <div class="form-check me-3">
                  <input class="form-check-input" type="checkbox" value="{{breakfast.id}}" name="allbreakfast" id="checkboxBreakfast{{ breakfast.id }}" {% if breakfast in mealobj.breakfastOBJS.all %} checked {% endif %}>  
                  <label class="form-check-label" for="checkboxBreakfast{{ breakfast.id }}"> 
                      {{breakfast.dishname}} : Rs {{breakfast.dishprice}}/-
                  </label>
              </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Breakfast details not added...</p>
    {% endif %}
  </div>

  <!-- Lunch Checkboxes -->
  <div class="input-group input-group-sm mb-3 d-flex align-items-center">
    <span class="input-group-text" id="inputGroup-sizing-sm">Lunch</span>
    {% if lunchobjs %}
        <div class="d-flex flex-wrap ms-3">
            {% for lunch in lunchobjs %}
              <div class="form-check me-3">
                  <input class="form-check-input" type="checkbox" value="{{lunch.id}}" name="alllunch" id="checkboxLunch{{ lunch.id }}" {% if lunch in mealobj.lunchOBJS.all %} checked {% endif %}>  
                  <label class="form-check-label" for="checkboxLunch{{ lunch.id }}"> 
                      {{lunch.dishname}} : Rs {{lunch.dishprice}}/-
                  </label>
              </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Lunch details not added...</p>
    {% endif %}
  </div>

  <!-- Dinner Checkboxes -->
  <div class="input-group input-group-sm mb-3 d-flex align-items-center">
    <span class="input-group-text" id="inputGroup-sizing-sm">Dinner</span>
    {% if dinnerobjs %}
        <div class="d-flex flex-wrap ms-3">
            {% for dinner in dinnerobjs %}
              <div class="form-check me-3">
                  <input class="form-check-input" type="checkbox" value="{{dinner.id}}" name="alldinner" id="checkboxDinner{{ dinner.id }}" {% if dinner in mealobj.dinnerOBJS.all %} checked {% endif %}>  
                  <label class="form-check-label" for="checkboxDinner{{ dinner.id }}"> 
                      {{dinner.dishname}} : Rs {{dinner.dishprice}}/-
                  </label>
              </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Dinner details not added...</p>
    {% endif %}
  </div>

  {% if funcall == 0 %}
  <div class="form-button-set">
    <button type="submit" class="c-button c-button--navy">UPDATE</button>
  </div><br>
  {% endif %}

</form>

{% if mealobj.mealapprovel and funcall == 1 %}
    {% include 'selectedstudentslist.html' %}
{% else %}
<p class="mb-0 text-danger" >Admin Approval Pending...</p>
{% endif %}






{% endblock %}