{% load static %}
<nav class="home-top-nav navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/warden/home">Logo</a>


        
        <!-- Right-side elements that stay visible on the top right -->
        <div class="d-flex order-lg-2 ms-auto align-items-center">
            <a class="nav-link text-white p-2" href="#"><img src="{% static 'images/notifications_icon.svg' %}" alt="notifications_icon"></a>
                <button class="btn btn-outline-success" type="submit"><a class="nav-link" href="/warden/profile">Hi {{logged_in_user}} </a></button>
        </div>


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Admin</a>
                </li>
                
                <div class="dropdown">
                    <button class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        My Approval
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item {% if not approval_status %} active {% endif %}" href="/warden/approval">Pending</a></li>
                        <li><a class="dropdown-item {% if approval_status %} active {% endif %}" href="/warden/approval">Approved</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Know more</a></li>
                    </ul>
                </div>
                <li class="nav-item">
                    <a class="nav-link {% if not approval_status %} disabled {% endif %}" href="/warden/approvestudent">Student Approval</a>
                </li>
                
            </ul>
                
        </div>
    </div>
</nav>