/* #dropdwonContent{
    width: 145px;
    position: absolute;
    top: 7%;
    margin-left: 26%;
    
}
#dropdwonContent a{
    
    padding-top: 4%;
    padding-bottom: 4%;
    background-color: rgb(0, 0, 0);

}

.hide{
    display: none;
}



#addMessDropdown {
    position: absolute;
    background-color: rgb(0, 0, 0);
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#addMessDropdown a {
    display: block;
    padding: 8px 16px;
    color: rgb(252, 252, 252);
    
}

 #addMessDropdown a:hover {
    background-color: #ddd;
} */ 

.hide,
.messhide,
.checkinghide {
    display: none;
}

#dropdwonContent{
    width: 145px;
    position: absolute;
    top: 7%;
    margin-left: 26%;   
}


#addMessDropdown {
    width: 145px;
    position: absolute;
    top: 17%;
    margin-left: 26%;
}

#dropdwonContent a{
    padding-top: 4%;
    padding-bottom: 4%;
    background-color: rgb(0, 0, 0);
}
#addMessDropdown a {
    padding-top: 4%;
    padding-bottom: 4%;
    background-color: rgb(0, 0, 0);
}

/* #dropdwonContent a:hover,
#addMessDropdown a:hover {
    background-color: #ddd;
    color: black;
} */
